@charset 'utf-8';
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}
button,
img {
  border: 0;
}
img,
input,
label {
  vertical-align: middle;
}
ol,
ul {
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  font: 12px/1.5 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif !important;
  color: #333;
}
a {
  text-decoration: none;
  color: #069;
  outline: 0;
}
button {
  font-family: "Microsoft yahei";
  cursor: pointer;
  color: #ffffff;
  padding: 4px 1em;
  background: #e74165;
}
.clear::after {
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block;
}
em {
  font-style: normal;
}
