@charset 'utf-8';
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}
button,
img {
  border: 0;
}
img,
input,
label {
  vertical-align: middle;
}
ol,
ul {
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  font: 12px/1.5 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif !important;
  color: #333;
}
a {
  text-decoration: none;
  color: #069;
  outline: 0;
}
button {
  font-family: "Microsoft yahei";
  cursor: pointer;
  color: #ffffff;
  padding: 4px 1em;
  background: #e74165;
}
.clear::after {
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block;
}
em {
  font-style: normal;
}
.outFrame {
  position: relative;
  min-width: 950px;
  background: url(../image/bg/blank.gif) center center / cover no-repeat;
}
.linkHome {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  text-indent: -999em;
  outline: 0px;
}
.wrapper {
  width: 28.5714%;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 20%;
  padding: 20px 0px;
  margin: 0px 0px 0px 80px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
  background: #ffffff;
}
.wrapper div.inFrame {
  display: block;
}
.wrapper > h3 {
  font-size: 14px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  margin-bottom: 8px;
}
.wrapper ul {
  line-height: 28px;
  text-align: center;
  width: 378px;
  height: 32px;
  padding: 0;
  margin: 0px 30px 8px;
  background-color: #f1f1f1;
}
.wrapper ul > li {
  float: left;
  width: 50% !important;
}
.wrapper ul > li.active > span {
  border-color: #e74064;
  color: #e74064;
}
.wrapper ul > li > span {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  width: 189px;
  height: 32px;
  box-sizing: border-box;
  border-bottom: 4px solid #f1f1f1;
}
.wrapper > div {
  display: none;
}
.wrapper p {
  position: relative;
  margin-bottom: 8px;
}
.wrapper input {
  height: 28px;
  width: 97%;
  line-height: 28px;
  padding: 3px;
  border: 1px solid #f0f0ef;
  box-sizing: border-box;
}
.wrapper button {
  width: 100%;
  color: #ffffff;
  background-color: #f93d69;
  padding: 0.4rem 0px;
  margin: 6px 0px;
  border: 0;
}
.form,
.wrapper > h3,
.wrapper > p {
  font-size: 12px;
  padding: 0px 30px;
}
.show {
  display: block !important;
}
input#phoneCode,
input#securityCode {
  width: 197px;
  height: 28px;
}
.text-right {
  text-align: right;
}
.imgVer {
  position: absolute;
  z-index: 3;
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin-left: 6px;
}
input#imgCode {
  width: 25%;
}
button#getCode {
  width: auto;
  height: 28px;
  vertical-align: middle;
  margin: 0 6px;
  padding: 0px 8px;
  box-sizing: border-box;
}
.error > p {
  height: auto;
  margin: 0;
  line-height: 1.5;
  color: #f93d69;
}
